.create-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  background: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.create-post .post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-post input[type='text'] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
}

.upload-icon {
  margin: 0;
  padding: 0 0.5rem;
  display: flex;
  font-size: 1.3rem;
}

.create-post .post-photo {
  margin: 1rem 0;
  margin-left: 1rem;
  width: 3rem;
  aspect-ratio: 1/1;
}

.create-post .post-photo img {
  border-radius: 20%;
}

.create-post .btn {
  padding: 0.5rem;
}

.create-post .btn:disabled {
  background: var(--color-gray);
  cursor: not-allowed;
}

.btn:disabled:hover {
  opacity: 1;
}
